// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};


window {
  background: transparent  
}

window.Bar {
  background: transparent;
  color: $fg-color;
  font-weight: bold;

  > centerbox {
    background: $bg-color;
    border-radius: 10px;
    margin: 8px;
  }

  button {
    border-radius: 8px;
    margin: 2px;
  }
}

.analog-clock {
  background-color: rgba(36, 36, 56, 0.8);   // светло-голубой как в macOS
  border-radius: 20px;
  padding: 15px;
  box-shadow: 0 8px 30px rgba(0,0,0,0.15);
}

